body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}

@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

.WikiButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

header > div {
    display: flex;
}

header .head_text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

header .head_btn_left {
    width: 25%;
    justify-content: start;
}
header .head_btn_right {
    width: 25%;
    justify-content: end;
}

/* WikiList */

.WikiList .menu_wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.WikiList .menu_wrapper .right_col {
    flex-grow: 1;
}

.WikiList .menu_wrapper .right_col button {
    width: 100%;
}

.WikiList .ControlMenu {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
    font-size: 18px;
}

/* WikiItem */

.WikiItem {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
}

.WikiItem .info_wrapper {
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}

.WikiItem .wiki_date {
    font-size: 16px;
    margin-bottom: 5px;
}

.WikiItem .wiki_title {
    font-size: 20px;
}

.WikiItem .wiki_content_preview {
    font-size: 16px;
}

.WikiItem .btn_wrapper {
    min-width: 70px;
}

/* WikiEditor */

.WikiEditor {
}

.WikiEditor section {
    margin-bottom: 40px;
}

.WikiEditor h3 {
    font-size: 24px;
    font-weight: bold;
}

.WikiEditor h4 {
    font-size: 22px;
}

.WikiEditor .input_date {
    border: none;
    border-radius: 5px;
    background-color: #ececec;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
    font-size: 20px;
}

.WikiEditor .input_title {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    resize: vertical;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding: 20px;
}

.WikiEditor textarea {
    font-size: 20px;

    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    resize: vertical;

    border: none;
    border-radius: 5px;
    background-color: #ececec;

    padding: 20px;
}

.WikiEditor .control_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
